<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-siteapp"><!-- 百度禁止转码 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta name="apple-mobile-web-app-title" content=""><!-- 添加到主屏后的标题 -->
		<meta content="yes" name="apple-mobile-web-app-capable" /><!-- 是否启用 WebApp 全屏模-->
		<meta content="black" name="apple-mobile-web-app-status-bar-style" /><!-- 设置状态栏的背景颜色 -->
		<meta content="telephone=no,email=no" name="format-detection" /><!-- 禁止数字识自动别为电话号码  -->
		<meta name="theme-color" content="#db5945"><!-- android中用来控制选项卡的颜色 -->
		<meta name="msapplication-TileColor" content="#000"/> <!-- Windows 8 磁贴颜色 -->
		<meta name="msapplication-TileImage" content="icon.png"/> <!-- Windows 8 磁贴图标 -->
		<!-- <link rel="shortcut icon" type="image/ico" href="/favicon.ico" /> -->
		<meta name="google" value="notranslate" /><!-- 关闭chrome浏览器下翻译插件 -->
		<!-- 页面描述 -->
	    <meta name="description" content="不超过150个字符"/>
	    <!-- 页面关键词 -->
	    <meta name="keywords" content=""/>
	    <!-- 网页作者 -->
	    <meta name="author" content="jinxiao, 315232021@163.com"/>
	    <!-- 搜索引擎抓取 -->
	    <meta name="robots" content="index,follow"/>
		<title>象 盟</title>
		<link rel="stylesheet" href="/weixin/dist/css/normalize.css">
		<link rel="stylesheet" href="/weixin/dist/css/footer.css">
		<link rel="stylesheet" href="/weixin/dist/css/person/about.css">
	</head>
	<body>

		<!-- content start-->
		<div class="content">
			<div class="contact">
				<div class="c-li">
					<strong>收货地址管理</strong>
					<a href="/weixin/views/person/feedback.html"><i class="iconfont">&#xe60e;</i></a>
				</div>
				<div class="c-li">
					<strong>关于我们</strong>
					<a href="/weixin/views/person/about.html"><i class="iconfont">&#xe60e;</i></a>
				</div>
			</div>
		</div>
		<!-- content end-->

		
		<script src="/weixin/c/common/init.js"></script>
		<script src="/weixin/c/lib/jquery.min.js"></script>
		<script src="/weixin/c/lib/hammer.js"></script>
		<script src="/weixin/c/lib/require.js"></script>
		<script src="/weixin/c/config/main.js"></script>
		<script>
			(function(){
				var test = {
					init:function(){
						console.log("init");
					}()
				}
			})();
		</script>
	</body>
</html>