<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-siteapp"><!-- 百度禁止转码 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta name="apple-mobile-web-app-title" content=""><!-- 添加到主屏后的标题 -->
		<meta content="yes" name="apple-mobile-web-app-capable" /><!-- 是否启用 WebApp 全屏模-->
		<meta content="black" name="apple-mobile-web-app-status-bar-style" /><!-- 设置状态栏的背景颜色 -->
		<meta content="telephone=no,email=no" name="format-detection" /><!-- 禁止数字识自动别为电话号码  -->
		<meta name="theme-color" content="#db5945"><!-- android中用来控制选项卡的颜色 -->
		<meta name="msapplication-TileColor" content="#000"/> <!-- Windows 8 磁贴颜色 -->
		<meta name="msapplication-TileImage" content="icon.png"/> <!-- Windows 8 磁贴图标 -->
		<!-- <link rel="shortcut icon" type="image/ico" href="/favicon.ico" /> -->
		<meta name="google" value="notranslate" /><!-- 关闭chrome浏览器下翻译插件 -->
		<!-- 页面描述 -->
	    <meta name="description" content="不超过150个字符"/>
	    <!-- 页面关键词 -->
	    <meta name="keywords" content=""/>
	    <!-- 网页作者 -->
	    <meta name="author" content="jinxiao, 315232021@163.com"/>
	    <!-- 搜索引擎抓取 -->
	    <meta name="robots" content="index,follow"/>
		<title>XIANG MENG</title>
		<link rel="stylesheet" href="/weixin/dist/css/normalize.css">
		<link rel="stylesheet" href="/weixin/dist/css/footer.css">
		<link rel="stylesheet" href="/weixin/dist/css/person/protocal.css">
	</head>
	<body>

		<!-- content start-->
		<div class="content">
			<div class="form">
				<h2 class="t-center">环球捕手平台须知</h2>
<p>鉴于：</p>
<p>1、熟读本须知系杭州智品文化创意有限公司环球捕手平台（下称“环球捕手”或“平台”）的用户的必要条件，本须知对用户、平台会员、捕手均具有约束力。</p>
<p>2、在接受本须知内容之前，请您务必仔细阅读本须知的全部内容，特别是免除或者限制责任的条款以及管辖法院的选择条款等。限制、免责条款可能以加粗并加下划线形式提示您注意。如果您对本须知的条款有疑问的，请通过环球捕手客服渠道进行询问，环球捕手将向您解释条款内容。如果您不同意本须知的任意内容，或者无法准确理解环球捕手对条款的解释，请不要同意本须知或使用本须知项下的服务。否则，表示您已接受了以下所述的条款和条件，同意受本须知约束。届时您不应以未阅读本须知的内容或者未获得环球捕手对您问询的解答等理由，主张本须知无效，或要求撤销本须知的约束。</p>
<h3>一、 定义：</h3>
<p>1、用户：按照环球捕手注册程序规定的条件，完成注册的单位或者个人。</p>
<p>2、平台会员:已在环球捕手完成购买并有确认成交记录的用户。</p>
<p>3、捕手：又称为分享达人，是指已从环球捕手成为平台会员，具备一定数量的推广渠道和资源，包括数额较大的微信好友的朋友圈等，以及满足环球捕手认为需具备的其他条件，并通过审核后成为捕手的分享或推广者。</p>
<p>4、捕手申请审核手续
平台会员具备申请成为捕手的条件后自行实名向环球捕手平台提交申请，平台收到申请后进行审核，如认为申请会员全部符合捕手的条件及要求则通过审核，成为捕手，给予捕手专属推广二维码；如认为该会员暂不符合成为捕手的条件及要求的，则审核不通过，平台通过系统反馈给会员，会员可在7日后且具备捕手条件的情况下再行申请。</p>
<h3>二、须知的内容及效力</h3>
<p>1、本须知内容包括须知正文及所有环球捕手已经发布的或将来可能发布的各类规则。 所有规则为须知不可分割的一部分，与须知正文具有同等法律效力。</p>
<p>2、用户在使用环球捕手提供的各项服务的同时，承诺接受并遵守各项相关规则的规定。
环球捕手有权根据需要不时地制定、修改本须知或各类规则，如本须知有任何变更，环球捕手将在网站上刊载公告，通知用户。
阅读须知的过程中，如果您不同意相关内容或其中任何条款约定，您应立即停止申请程序。
经修订的须知一经在网站公布后，立即自动生效。
各类规则会在发布后生效，亦成为本须知的一部分。
您登录或继续使用“服务”将表示用户接受经修订的须知。
除另行明确声明外，任何使“服务”范围扩大或功能增强的新内容均受本须知约束。</p>
<p>3、用户确认本须知后，本须知即在用户和环球捕手之间产生法律效力。
请用户务必在注册之前认真阅读全部须知内容，如有任何疑问，可向环球捕手咨询。
无论用户事实上是否在注册之前认真阅读了本须知，只要用户点击“申请成为捕手”按钮，按照注册程序成功注册为用户，用户的行为仍然表示其同意并签署了本申请协议。</p>
<p>4、本须知不涉及用户与环球捕手之间因网上交易而产生的法律关系及法律纠纷。</p>
<h3>三、 用户的帐号、密码和安全性</h3>
<p>1、用户一旦注册成功，成为环球捕手的用户，将得到一个用户名和密码，并有权利使用自己的用户名及密码随时登陆环球捕手。</p>
<p>2、用户对用户名和密码的安全负全部责任，同时对该用户名进行的所有活动和事件负全责。</p>
<p>3、用户不得以任何形式擅自转让或授权他人使用自己的环球捕手用户名。</p>
<p>4、用户只能通过自己的密码来使用用户的账号。</p>
<p>如果用户泄漏了密码，有可能导致不利的法律后果，用户自行承担相应责任。因此不管任何原因用户的密码安全受到危及，应当立即和环球捕手取得联系。</p>
<h3>四、 用户的声明</h3>
<p>1、用户承诺其为完全民事行为能力的民事主体，具有达成交易履行其义务的能力。</p>
<p>2、用户有义务在注册时提供自己的真实资料，并保证诸如微信账号、联系电话、联系地址、邮政编码等内容的有效性及安全性，保证环球捕手及其他用户可以通过上述联系方式与其进行联系。 同时，用户也有义务在相关资料实际变更时及时更新有关注册资料。</p>
<p>3、用户在使用环球捕手进行交易的过程中遵守诚实信用的原则，不得采取不正当竞争行为，不扰乱网上交易的正常秩序，不得从事与网上交易无关的行为。 </p>
<p>4、不得发布各类违法或违规信息；不得在环球捕手上恶意评价其他用户。</p>
<p>5、用户在环球捕手实施的所有行为均遵守国家法律、法规和的相关规定以及各种社会公共利益或公共道德。如有违反导致任何法律后果的发生，用户将以自己的名义独立承担所有相应的法律责任； </p>
<p>6、用户同意，不对环球捕手的任何数据作商业性利用，包括但不限于未经环球捕手事先书面批准，以复制、传播等方式使用在环球捕手展示的任何资料。</p>
<p>7、用户同意接收来自环球捕手及其合作伙伴发出的邮件、微信、信息等。</p>
<p>8、用户同意，环球捕手有权使用用户的注册信息、用户名、密码等信息，登录进入用户的注册账户，进行证据保全，包括但不限于公证、见证等。</p>
<h3>五、 环球捕手的服务</h3>
<p>1、环球捕手通过互联网依法为用户提供互联网信息等服务，用户在完全同意本须知及规则规定的情况下，方有权使用环球捕手的相关服务。</p>
<p>2、用户必须自行准备如下设备和承担如下开支：</p>
<p>（1）上网设备，包括并不限于电脑或者其他上网终端、调制解调器及其他必备的上网装置；</p>
<p>（2）上网开支，包括并不限于网络接入费、上网设备租用费、手机流量费等。</p>
<h3>六、商品信息</h3>
	<p>环球捕手的商品价格、数量、是否有货等商品信息随时都有可能发生变动，平台不作特别通知。由于商品信息的数量极其庞大，虽然平台会尽最大努力保证您所浏览商品信息的准确性，但由于众所周知的互联网技术因素等客观原因存在，平台网页显示的信息可能会有一定的滞后性或差错，对此情形您知悉并理解；环球捕手欢迎纠错，并会视情况给予纠错者一定的奖励。 为表述便利，商品和服务简称为"商品"或"货物"。</p>
<h3>七、订单</h3>
<p>1、在您下订单时，请您仔细确认所购商品的名称、价格、数量、型号、规格、尺寸、联系地址、电话、收货人等信息。收货人与用户本人不一致的，收货人的行为和意思表示视为用户的行为和意思表示，用户应对收货人的行为及意思表示的法律后果承担连带责任。</p>
<p>2、除法律另有强制性规定外，约定如下：环球捕手销售方展示的商品和价格等信息仅仅是交易信息的发布，您下单时须填写您希望购买的商品数量、价款及支付方式、收货人、联系方式、收货地址等内容；系统生成的订单信息是计算机信息系统根据您填写的内容自动生成的数据，仅是您向销售方发出的交易诉求；销售方收到您的订单信息后，只有在销售方将您在订单中订购的商品从仓库实际直接向您发出时（ 以商品出库为标志），方视为您与销售方之间就实际直接向您发出的商品建立了交易关系；如果您在一份订单里订购了多种商品并且销售方只给您发出了部分商品时，您与销售方之间仅就实际直接向您发出的商品建立了交易关系；只有在销售方实际直接向您发出了订单中订购的其他商品时，您和销售方之间就订单中该其他已实际直接向您发出的商品才成立交易关系。您可以随时登录您在本站注册的账户，查询您的订单状态。</p>
<p>3、由于市场变化及各种以合理商业努力难以控制的因素的影响，环球捕手无法保证您提交的订单信息中希望购买的商品都会有货；如您拟购买的商品，发生缺货，您有权取消订单。
<p>4、如环球捕手按您最后一次提供的信息与您联系未果，且您未按环球捕手的要求及时提供信息，或您提供的信息存在明显不实或行政司法机关核实您提供的信息无效的，您将承担因此对您自身、他人及环球捕手造成的全部损失与不利后果。环球捕手可向您发出询问或要求整改的通知，并要求您进行重新认证，直至中止、终止对您提供部分或全部环球捕手平台服务，环球捕手对此不承担责任</p>
<h3>八、物流配送</h3>
<p>1、销售方将会把商品送到您所指定的收货地址，所有在平台列出的送货时间为参考时间，参考时间的计算是根据库存状况、正常的处理过程和送货时间、送货地点的基础上估计得出的。</p>
<p>2、因如下情况造成订单延迟或无法配送等，销售方不承担延迟配送的责任：</p>
<p>（1）用户提供的信息错误、地址不详细等原因导致的；</p>
<p>（2）货物送达后无人签收，导致无法配送或延迟配送的；</p>
<p>（3）情势变更因素导致的；</p>
<p>（4）不可抗力因素导致的，例如：自然灾害、交通戒严、突发战争等。</p>
<h3>九、所有权及知识产权条款</h3>
<p>1、用户一旦接受本须知，即表明该用户主动将其在任何时间段在环球捕手发表的任何形式的信息内容（包括但不限于客户评价、客户咨询、各类话题文章等信息内容）的财产性权利等任何可转让的权利，如著作权财产权（包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），全部独家且不可撤销地转让给环球捕手所有，用户同意环球捕手有权就任何主体侵权而单独提起诉讼。</p>
<p>2、本须知已经构成《中华人民共和国著作权法》第二十五条（条文序号依照2011年版著作权法确定）及相关法律规定的著作财产权等权利转让书面协议，其效力及于用户在环球捕手网站上发布的任何受著作权法保护的作品内容，无论该等内容形成于本须知订立前还是本须知订立后。</p>
<p>3、用户同意并已充分了解本须知的条款，承诺不将已发表于环球捕手的信息，以任何形式发布或授权其它主体以任何方式使用（包括但不限于在各类网站、媒体上使用）。</p>
<p>4、环球捕手是平台的制作者,拥有此平台内容及资源的著作权等合法权利,受国家法律保护,有权不时地对本须知及规则的内容进行修改，并在平台张贴，无需另行通知用户。在法律允许的最大限度范围内，环球捕手对本协议及平台规则等内容拥有解释权。</p>
<p>5、除法律另有强制性规定外，未经环球捕手明确的特别书面许可,任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用平台的信息内容，否则，环球捕手有权追究其法律责任。</p>
<p>6、平台所刊登的资料信息（诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件），均是环球捕手或其内容提供者的财产，受中国和国际版权法的保护。平台上所有内容的汇编是环球捕手的排他财产，受中国和国际版权法的保护。本站上所有软件都是环球捕手或其关联公司或其软件供应商的财产，受中国和国际版权法的保护。</p>
<h3>十、责任限制及不承诺担保</h3>
<p>1、除非另有明确的书面说明,平台及其所包含的或以其它方式通过平台提供给您的全部信息、内容、材料、产品（包括软件）和服务，均是在"按现状"和"按现有"的基础上提供的。</p>
<p>2、除非另有明确的书面说明,环球捕手不对平台的运营及其包含在平台上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的声明或担保（根据中华人民共和国法律另有规定的以外）。</p>
<p>3、环球捕手不担保平台所包含的或以其它方式通过平台提供给您的全部信息、内容、材料、产品（包括软件）和服务、其服务器或从平台发出的电子信件、信息没有病毒或其他有害成分。
<p>4、如因不可抗力或其它平台无法控制的原因使平台销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，环球捕手会合理地尽力协助处理善后事宜。</p>
<h3>十一、须知更新及用户关注义务</h3>
	<p>根据国家法律法规变化及平台运营需要，环球捕手有权对本须知条款不时地进行修改，修改后的须知一旦被张贴在平台上即生效，并代替原来的须知。用户可随时登录查阅最新须知； 用户有义务不时关注并阅读最新版的须知及平台公告。如用户不同意更新后的须知，可以且应立即停止接受环球捕手依据本须知提供的服务；如用户继续使用平台提供的服务的，即视为同意更新后的须知。环球捕手建议您在使用平台之前阅读本须知及平台公告。 如果本须知中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。</p>
<h3>十二、服务的终止</h3>
<p>1、在下列情况下，环球捕手有权终止向用户提供服务：</p>
<p>（1）在用户违反本须知相关规定时，环球捕手有权终止向该用户提供服务。 如该用户再一次直接或间接或以他人名义注册为用户的，环球捕手有权直接单方面终止向该用户提供服务；</p>
<p>（2）如环球捕手通过用户提供的信息与用户联系时，发现用户在注册时填写的电子邮箱已不存在或无法接收电子邮件的，经环球捕手以其它联系方式通知用户更改，而用户在三个工作日内仍未能提供新的电子邮箱地址的，环球捕手有权终止向该用户提供服务；</p>
<p>（3）一旦环球捕手发现用户提供的数据或信息中含有虚假内容的，环球捕手有权随时终止向该用户提供服务；</p>
<p>（4）本须知终止或更新时，用户明示不愿接受新的须知的；</p>
<p>（5）其它环球捕手认为需终止服务的情况。</p>
<h3>十三、服务终止后续事宜</h3>
<p>1、 服务终止后，环球捕手没有义务为用户保留原账号中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给用户或第三方。</p>
<p>2、不论环球捕手与用户之间的服务因任何原因以任何方式终止，环球捕手仍有权：</p>
<p>（1）选择是否保存该用户的注册数据及以前的交易行为记录。</p>
<p>（2）追索用户在服务终止前实施的违法或违约行为。</p>
<p>3、对于服务终止之前用户交易行为依下列原则处理：</p>
<p>（1）服务终止之前，用户的交易物品尚未交易或尚未交易完成的，环球捕手有权在中断、终止服务的同时删除此项交易信息；</p>
<p>（2）服务终止之前，用户已经与另一用户就具体交易达成一致，环球捕手有权选择是否删除该项交易，并有权将终止服务的情况通知用户的交易对方。</p>
<h3>十四、服务的变更、中断</h3>
<p>1、 鉴于网络服务的特殊性，用户同意环球捕手会变更、中断部分或全部的网络服务，并删除（不再保存）用户在使用“服务”中提交的任何资料，而无需通知用户，也无需对任何用户或任何第三方承担任何责任。</p>
<p>2、 用户理解，环球捕手需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成网络服务在合理时间内的中断，环球捕手无需为此承担任何责任。</p>
<h3>十五、用户依法言行义务</h3>
<p>1、本须知依据国家相关法律法规规章制定，用户同意严格遵守以下义务：</p>
<p>（1）不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；</p>
<p>（2）从中国大陆向境外传输资料信息时必须符合中国有关法规；</p>
<p>（3）不得利用平台从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</p>
<p>（4）不得干扰平台的正常运转，不得侵入平台及国家计算机信息系统；</p>
<p>（5）不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的、不文明的等信息资料；</p>
<p>（6）不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；</p>
<p>（7）不得教唆他人从事本条所禁止的行为；</p>
<p>（8）不得利用在平台注册的账户进行牟利性经营活动；</p>
<p>（9）不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；</p>
<p>用户应不时关注并遵守平台不时公布或修改的各类合法规则规定。平台保有删除平台内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。若用户未遵守以上规定的，平台有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。</p>
	<h3>十六、隐私政策</h3>
<p>1、适用范围：</p>
<p>（1）在用户注册环球捕手账户时，根据要求提供的个人注册信息；</p>
<p>（2）在用户使用环球捕手服务，或访问环球捕手平台时，环球捕手自动接收并记录的用户浏览器上的服务器数值，包括但不限于IP地址等数据及用户要求取用的网页记录；</p>
<p> 2、 信息使用：<p>
<p>（1）环球捕手不会向任何人出售或出借用户的个人信息，除非事先得到用户的许可。<p>
<p>（2）环球捕手亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播用户的个人信息。<p>
任何用户如从事上述活动，一经发现，环球捕手有权立即终止与该用户的服务协议，查封其账号。<p>
<p>（3）为服务用户的目的，环球捕手可能通过使用用户的个人信息，向用户提供服务，包括但不限于向用户发出产品和服务信息，或者与环球捕手合作伙伴共享信息以便他们向用户发送有关其产品和服务的信息。<p>
<p>3、 信息披露： 用户的个人信息将在下述情况下部分或全部被披露：</p>
<p>（1）经用户同意，向第三方披露；<p>
<p>（2）根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；<p>
<p>（3）如果用户出现违反中国有关法律或者网站政策的情况，需要向第三方披露；<p>
<p>（4）为提供您所要求的产品和服务，而必须和第三方分享用户的个人信息；<p>
<p>（5）其它环球捕手根据法律或者网站政策认为合适的披露。<p>
	<h3>十七 、通知送达</h3>
<p>1、环球捕手对于用户所有的通知均可通过平台公告、电子邮件、手机短信、微信或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。</p>
<p>2、用户对于环球捕手的通知应当通过环球捕手对外正式公布的通信地址、传真号码、电子邮件地址等联系信息进行送达。</p>
	<h3>十八、争议处理</h3>
	<p>本须知之解释与适用，以及与本须知有关的争议，均应依照中华人民共和国法律予以处理，并以浙江省杭州市西湖区人民法院为第一审管辖法院。</p>
			</div>
			
		</div>
		
		<!-- content end-->

		<!-- footer start -->
		<div id="footer">
			<ul>
				<li><a href="/weixin/index.html"><i class="iconfont">&#xe600;</i><span>商城首页</span></a></li>
				<li><a href="/weixin/views/brand.html"><i class="iconfont">&#xe604;</i><span>品牌馆</span></a></li>
				<li><a href="/weixin/views/cart.html"><i class="iconfont">&#xe601;</i><span>购物车</span></a></li>
				<li><a href="/weixin/views/order.html"><i class="iconfont">&#xe602;</i><span>我的订单</span></a></li>
				<li class="selected"><a href="/weixin/views/person.html"><i class="iconfont">&#xe603;</i><span>个人中心</span></a></li>
			</ul>
		</div>
		<!-- footer end -->
		<script src="/weixin/c/common/init.js"></script>
		<script src="/weixin/c/lib/jquery.min.js"></script>
		<script src="/weixin/c/lib/hammer.js"></script>
		<script src="/weixin/c/lib/require.js"></script>
		<script src="/weixin/c/config/main.js"></script>
		<script>
			(function(){
				var test = {
					init:function(){
						console.log("init");
					}()
				}
			})();
		</script>
	</body>
</html>