<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-siteapp"><!-- 百度禁止转码 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta name="apple-mobile-web-app-title" content=""><!-- 添加到主屏后的标题 -->
		<meta content="yes" name="apple-mobile-web-app-capable" /><!-- 是否启用 WebApp 全屏模-->
		<meta content="black" name="apple-mobile-web-app-status-bar-style" /><!-- 设置状态栏的背景颜色 -->
		<meta content="telephone=no,email=no" name="format-detection" /><!-- 禁止数字识自动别为电话号码  -->
		<meta name="theme-color" content="#db5945"><!-- android中用来控制选项卡的颜色 -->
		<meta name="msapplication-TileColor" content="#000"/> <!-- Windows 8 磁贴颜色 -->
		<meta name="msapplication-TileImage" content="icon.png"/> <!-- Windows 8 磁贴图标 -->
		<!-- <link rel="shortcut icon" type="image/ico" href="/favicon.ico" /> -->
		<meta name="google" value="notranslate" /><!-- 关闭chrome浏览器下翻译插件 -->
		<!-- 页面描述 -->
	    <meta name="description" content="不超过150个字符"/>
	    <!-- 页面关键词 -->
	    <meta name="keywords" content=""/>
	    <!-- 网页作者 -->
	    <meta name="author" content="jinxiao, 315232021@163.com"/>
	    <!-- 搜索引擎抓取 -->
	    <meta name="robots" content="index,follow"/>
		<title>象 盟</title>
		<link rel="stylesheet" href="/weixin/dist/css/normalize.css">
		<link rel="stylesheet" href="/weixin/dist/css/footer.css">
		<link rel="stylesheet" href="/weixin/dist/css/person/rule.css">
	</head>
	<body>

		<!-- content start-->
		<div class="content">
			<div class="form">
				<h2 class="t-center">分享达人模式说明</h2>
					<h3>1.什么是分享达人?</h3>
					<p>用户亲身体验、并认可环球捕手的商品和服务，满足相应的条件且愿意分享平台给身边人（粉丝），称为环球捕手分享达人。分享达人只负责分享，不负责销售服务，所有的订单交易、售后服务、供应发货等服务全由环球捕手负责。</p>
					<h3>2.如何成为分享达人?</h3>
					<p>在微信环球捕手公众号商城或环球捕手APP内任意消费一单，阅读并同意<a href="protocal.html">《推广合作协议》</a>并申请成为分享达人即可。成为分享达人需进行实名认证。</p>
					<h3>3.分享达人如何获得补贴?</h3>
					<p>分享达人通过专属二维码或相应的推广链接，推广平台或商品给粉丝，只需粉丝在平台中成功购物，分享达人可获得环球捕手给与的补贴。</p>
					<h3>4.补贴具体算法</h3>
					<p>根据不同商品的采购成本及活动，粉丝购物，给分享达人的补贴也不同，大致为商品售价的4%-6%之间</p>
					<h3>5.关于补贴发放</h3>
					<p>①补贴发放时间：</p>
					<p>分享达人提交提现申请后2个工作日内，平台审核后发放至捕手的微信钱包。</p>
					<p>②粉丝下单到补贴可提现的周期：</p>
					<p>粉丝收到货品后并确认收货（或系统自动确认收货），再过七天无理由退换货时间，可申请提现。</p>
					<h3>6.分享达人有哪些支持？</h3>
					<p>分享达人管家</p>
					<p>环球捕手设立分享达人管家团队，配合分享达人的分享和管理工作。</p>

					<p>分享达人微信群</p>
					<p>为了保护分享达人的利益，平台不私自建群，分享达人可以自行建群。如需要平台的支持，可以邀请分享<p>达人管家进群协助管理。新分享达人可以询问推荐人，进入推荐人的分享达人群。</p>
					<p>设计支持</p>
					<p>针对有实体店和地推需求的分享达人，平台提供物料设计服务，如有需求联系分享达人管家即可。</p>
					<p>永久二维码</p>
					<p>目前二维码有效期30天，有需求并且符合相应条件的分享达人可联系客服申请永久性二维码</p>
			</div>
		</div>
		
		<!-- content end-->

		<!-- footer start -->
		<!-- <div id="footer">
			<ul>
				<li><a href="/weixin/index.html"><i class="iconfont">&#xe600;</i><span>商城首页</span></a></li>
				<li><a href="/weixin/views/brand.html"><i class="iconfont">&#xe604;</i><span>品牌馆</span></a></li>
				<li><a href="/weixin/views/cart.html"><i class="iconfont">&#xe601;</i><span>购物车</span></a></li>
				<li><a href="/weixin/views/order.html"><i class="iconfont">&#xe602;</i><span>我的订单</span></a></li>
				<li class="selected"><a href="/weixin/views/person.html"><i class="iconfont">&#xe603;</i><span>个人中心</span></a></li>
			</ul>
		</div> -->
		<!-- footer end -->
		<script src="/weixin/c/common/init.js"></script>
	</body>
</html>