<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-siteapp"><!-- 百度禁止转码 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta name="apple-mobile-web-app-title" content=""><!-- 添加到主屏后的标题 -->
		<meta content="yes" name="apple-mobile-web-app-capable" /><!-- 是否启用 WebApp 全屏模-->
		<meta content="black" name="apple-mobile-web-app-status-bar-style" /><!-- 设置状态栏的背景颜色 -->
		<meta content="telephone=no,email=no" name="format-detection" /><!-- 禁止数字识自动别为电话号码  -->
		<meta name="theme-color" content="#db5945"><!-- android中用来控制选项卡的颜色 -->
		<meta name="msapplication-TileColor" content="#000"/> <!-- Windows 8 磁贴颜色 -->
		<meta name="msapplication-TileImage" content="icon.png"/> <!-- Windows 8 磁贴图标 -->
		<!-- <link rel="shortcut icon" type="image/ico" href="/favicon.ico" /> -->
		<meta name="google" value="notranslate" /><!-- 关闭chrome浏览器下翻译插件 -->
		<!-- 页面描述 -->
	    <meta name="description" content="不超过150个字符"/>
	    <!-- 页面关键词 -->
	    <meta name="keywords" content=""/>
	    <!-- 网页作者 -->
	    <meta name="author" content="jinxiao, 315232021@163.com"/>
	    <!-- 搜索引擎抓取 -->
	    <meta name="robots" content="index,follow"/>
		<title>XX商城</title>
		<link rel="stylesheet" href="/dist/css/normalize.css">
		<!-- <link rel="stylesheet" href="dist/css/header.css"> -->
		<link rel="stylesheet" href="/dist/css/footer.css">
		<link rel="stylesheet" href="/dist/css/category.css">
	</head>
	<body>
		
		<div class="search">search</div>
		<!-- content start-->
		<div class="nav" id="nav">
			<div id="scroller">
				<span class="selected" data-type="storage" data-num="1"><i>收纳</i></span>
				<span data-type="kitchen" data-num="1"><i>厨房</i></span>
				<span data-type="electrical" data-num="1"><i>电器</i></span>
				<span data-type="large" data-num="1"><i>大件</i></span>
				<span data-type="beauty" data-num="1"><i>美容</i></span>
			</div>
		</div>
		<div class="tab">
			<span class="selected" data-type="news">新品</span>
			<span class="" data-type="sell">销量</span>
			<span class="" data-type="price">价格</span>
		</div>
		<div class="c-index">
			<div class="index-list" id="wrapper">
				<div class="scroller-content">
					<div class="list-index">
						<p><a href="/views/detail.html?id=1"><img src="/images/goods/6401.jpg" alt=""></a></p>
						<p class='info'><span class="t-left">奔驰A45 AMG</span><span class="t-right">RMB 59.00</span></p>
					</div>
					<div class="list-index">
						<p><a href="/views/detail.html?id=2"><img src="/images/goods/6402.jpg" alt=""></a></p>
						<p class='info'><span class="t-left">奔驰A45 AMG</span><span class="t-right">RMB 69.00</span></p>
					</div>
					<div class="list-index">
						<p><a href="/views/detail.html?id=3"><img src="/images/goods/6403.jpg" alt=""></a></p>
						<p class='info'><span class="t-left">奔驰A45 AMG</span><span class="t-right">RMB 79.00</span></p>
					</div>
					<div class="list-index">
						<p><a href="/views/detail.html?id=4"><img src="/images/goods/6404.jpg" alt=""></a></p>
						<p class='info'><span class="t-left">奔驰A45 AMG</span><span class="t-right">RMB 89.00</span></p>
					</div>
				</div>
			</div>
		</div>
		<!-- content end-->


		<!-- footer start -->
		<div id="footer">
			<ul>
				<li><a href="/"><i class="iconfont">&#xe600;</i><span>商城首页</span></a></li>
				<li class="selected"><a href="/views/category.html"><i class="iconfont">&#xe604;</i><span>分类</span></a></li>
				<li><a href="/views/cart.html"><i class="iconfont">&#xe601;</i><span>购物车</span></a></li>
				<li><a href="/views/order.html"><i class="iconfont">&#xe602;</i><span>我的订单</span></a></li>
				<li><a href="/views/person.html"><i class="iconfont">&#xe603;</i><span>个人中心</span></a></li>
			</ul>
		</div>
		<!-- footer end -->
		<script src="/c/common/init.js"></script>
		<!-- <script src="c/plugin/JSlide/slide.js"></script> -->
		<script src="/c/lib/jquery.min.js"></script>
		<script src="/c/lib/hammer.js"></script>
		<script src="/c/lib/require.js"></script>
		<script src="/c/config/main.js"></script>
		<script src="/c/initLoad/category.js"></script>
	</body>
</html>