<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-siteapp"><!-- 百度禁止转码 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta name="apple-mobile-web-app-title" content=""><!-- 添加到主屏后的标题 -->
		<meta content="yes" name="apple-mobile-web-app-capable" /><!-- 是否启用 WebApp 全屏模-->
		<meta content="black" name="apple-mobile-web-app-status-bar-style" /><!-- 设置状态栏的背景颜色 -->
		<meta content="telephone=no,email=no" name="format-detection" /><!-- 禁止数字识自动别为电话号码  -->
		<meta name="theme-color" content="#db5945"><!-- android中用来控制选项卡的颜色 -->
		<meta name="msapplication-TileColor" content="#000"/> <!-- Windows 8 磁贴颜色 -->
		<meta name="msapplication-TileImage" content="icon.png"/> <!-- Windows 8 磁贴图标 -->
		<!-- <link rel="shortcut icon" type="image/ico" href="/favicon.ico" /> -->
		<meta name="google" value="notranslate" /><!-- 关闭chrome浏览器下翻译插件 -->
		<!-- 页面描述 -->
	    <meta name="description" content="不超过150个字符"/>
	    <!-- 页面关键词 -->
	    <meta name="keywords" content=""/>
	    <!-- 网页作者 -->
	    <meta name="author" content="jinxiao, 315232021@163.com"/>
	    <!-- 搜索引擎抓取 -->
	    <meta name="robots" content="index,follow"/>
		<title>XX商城</title>
		<link rel="stylesheet" href="/dist/css/normalize.css">
		<!-- <link rel="stylesheet" href="dist/css/header.css"> -->
		<link rel="stylesheet" href="/dist/css/detail.css">
		<link rel="stylesheet" href="/dist/css/common/animate.min.css">
	</head>
	<body>
		
		<!-- content start-->
		
		
		<div class="c-index">
			<div id="sliderBox" class="slider"></div>
			<div class="goods-detail">
				<div class="desc">
					<p class="title"><em>[原味]</em><em>[4包装]</em>国产板栗仁 熟板栗100g*4袋装 软糯香甜</p>
					<p class="overflow"><em class="cur">￥36</em><em class="old">￥45</em><span class="time f-right">剩余时间13天22:02:08</span></p>
					<p class="info">本产品由 品牌商提供发货服务</p>
				</div>
				<div class="intro overflow">
					<img class="f-left" src="/images/qr.png" alt="">
					<p class="f-right">2016新鲜上市无添加板栗仁，软糯香甜板栗仁，全家共享好板栗，无添加，才健康！优选新鲜采摘的板栗，制作过程不添加防腐剂，色素，香精，给您一个真正无添加无负担的美食。</p>
				</div>
				<div class="profile">
					<h3>商品简介</h3>
					<p><span>【品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌】</span><em>祈蒙公社</em></p>
					<p><span>【产&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地】</span><em>中国</em></p>
					<p><span>【净&nbsp;&nbsp;含&nbsp;&nbsp;量】</span><em>100g/袋</em></p>
					<p><span>【保&nbsp;&nbsp;质&nbsp;&nbsp;期】</span><em>12个月</em></p>
					<p><span>【生成日期】</span><em>2016-08-09</em></p>
					<p><span>【储藏方法】</span><em>常温</em></p>
					<p><span>【适用人群】</span><em>上班族 老人 儿童</em></p>
					<p><span>【食用方法】</span><em>开袋即食</em></p>
					<p><span>【温馨提示】</span><em>开袋后请尽快食用完奥，开袋常温放置不要超过24个小时</em></p>
				</div>
				<div class="detail">
					<h3>商品详情</h3>
					<div class="c-detail">
						这里是商品详情哦，应该是富文本的内容来说，就不编写了
					</div>
				</div>
			</div>
		</div>
		<div class="specs hidden" id="specs">
			<p class="close" id="close"><i class="iconfont">&#xe609;</i></p>
			<div class="specs-info overflow">
				<img class="goods-small" src="/images/qr.png" alt="" class="f-left">
				<div class="goods-info f-right">
					<p><span class="price">价格：</span><em class="price">￥36</em></p>
					<p><span class="stock">库存：</span><em class="stock">2</em></p>
					<p><span class="sizes">规格：</span><em class="sizes">黑色 两厢</em></p>
				</div>
			</div>
			<div id="c-specs">
				<!-- <div class="c-specs" id="specs1"><span>颜色：</span><em class="selected">黑色</em><em>白色</em></div>
				<div class="c-specs" id="specs2"><span>厢式：</span><em class="unselected">两厢</em><em>三厢</em></div>	 -->
			</div>
			<div class="c-specs c-num">
				<span>数量：</span>
				<i class="iconfont mini" id="mini">&#xe608;</i><input type="text" value="1" class="num" id="num"><i class="iconfont add" id="add">&#xe607;</i>
			</div>
			<div class="c-confirm"><span id="confirm" data-id="1" data-specsid="0">确定</span></div>
		</div>
		<!-- content end-->

		<div class="checkout">
			<p class="cart"><a href="/views/cart.html"><i class="iconfont">&#xe601;</i><span>99</span></a></p>
			<p class="total-btn"><em id="total">￥36.00</em><a href="javascript:void(0);" class="add-cart">加入购物车</a></p>
		</div>

		
		<script src="/c/common/init.js"></script>
		<!-- <script src="c/plugin/JSlide/slide.js"></script> -->
		<script src="/c/lib/jquery.min.js"></script>
		<script src="/c/lib/hammer.js"></script>
		<script src="/c/lib/require.js"></script>
		<script src="/c/config/main.js"></script>
		<script src="/c/initLoad/detail.js"></script>
	</body>
</html>