<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-siteapp"><!-- 百度禁止转码 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta name="apple-mobile-web-app-title" content=""><!-- 添加到主屏后的标题 -->
		<meta content="yes" name="apple-mobile-web-app-capable" /><!-- 是否启用 WebApp 全屏模-->
		<meta content="black" name="apple-mobile-web-app-status-bar-style" /><!-- 设置状态栏的背景颜色 -->
		<meta content="telephone=no,email=no" name="format-detection" /><!-- 禁止数字识自动别为电话号码  -->
		<meta name="theme-color" content="#db5945"><!-- android中用来控制选项卡的颜色 -->
		<meta name="msapplication-TileColor" content="#000"/> <!-- Windows 8 磁贴颜色 -->
		<meta name="msapplication-TileImage" content="icon.png"/> <!-- Windows 8 磁贴图标 -->
		<!-- <link rel="shortcut icon" type="image/ico" href="/favicon.ico" /> -->
		<meta name="google" value="notranslate" /><!-- 关闭chrome浏览器下翻译插件 -->
		<!-- 页面描述 -->
	    <meta name="description" content="不超过150个字符"/>
	    <!-- 页面关键词 -->
	    <meta name="keywords" content=""/>
	    <!-- 网页作者 -->
	    <meta name="author" content="jinxiao, 315232021@163.com"/>
	    <!-- 搜索引擎抓取 -->
	    <meta name="robots" content="index,follow"/>
		<title>象 盟</title>
		<link rel="stylesheet" href="/weixin/dist/css/normalize.css">
		<link rel="stylesheet" href="/weixin/dist/css/footer.css">
		<link rel="stylesheet" href="/weixin/dist/css/headerOrder.css">
		<link rel="stylesheet" href="/weixin/dist/css/orderDetail.css">
	</head>
	<body>


		<!-- header -->
		
		<!-- content start-->
		<div class="content">
			<div class="order">
				<div class="c-order all-order ">
					<div class="l-order">
						<div class="refund">
							<h4><i class="iconfont">&#xe61a;</i>已取消/待付款/待发货/待收货/交易成功</h4>
							<p>订单编号：160815625804524</p>
							<p>2016-08-15 17:23:17</p>
						</div>
						<div class="address">
							<h4><i class="iconfont">&#xe617;</i>收货信息</h4>
							<p>金霄 15158133856</p>
							<p>浙江省杭州市西湖区尚坤大夏322</p>
						</div>
						<h3>商品信息<span>品牌商 广东佛山发货(包邮)</span></h3>
						<div class="order-goods overflow">
							<div class="order-img f-left"><img src="/weixin/images/cart/cart.jpg" alt=""></div>
							<div class="order-info f-right overflow">
								<p class="title f-left">哥蓝V+儿童牛奶草莓奶草莓奶草莓味200ML*12 <span>(规格:大瓶 蓝色装)</span></p>
								<p class="pn f-right"><em>￥149</em><span>x2</span></p>
							</div>
						</div>
						<div class="order-status">
							<a href="orderRefundApply.html">申请退款</a>
							<a href="orderRefund.html">退款申请中</a>
						</div>
						<div class="order-list">
							<p class="overflow"><span class="f-left">发货方式</span><em class="f-right">快递:0元(包邮)</em></p>
							<p class="overflow"><span class="f-left">订单总计</span><em class="f-right">￥149</em></p>
							<p class="overflow"><span class="f-left">满减优惠</span><em class="f-right">￥0</em></p>
							<p class="overflow"><span class="f-left">实付金额</span><em class="f-right">￥149</em></p>
						</div>
					</div>
				</div>
				<!-- <div class="c-order all-order">all</div>
				<div class="c-order wait-pay">pay</div>
				<div class="c-order wait-send">send</div>
				<div class="c-order wait-receive">receive</div>
				<div class="c-order order-success">success</div> -->
			</div>
		</div>
		<!-- content end-->


		<!-- footer start -->
		<!-- <div id="footer">
			<ul>
				<li><a href="/index.html"><i class="iconfont">&#xe600;</i><span>商城首页</span></a></li>
				<li><a href="/views/category.html"><i class="iconfont">&#xe604;</i><span>分类</span></a></li>
				<li><a href="/views/cart.html"><i class="iconfont">&#xe601;</i><span>购物车</span></a></li>
				<li class="selected"><a href="/views/order.html"><i class="iconfont">&#xe602;</i><span>我的订单</span></a></li>
				<li><a href="/views/person.html"><i class="iconfont">&#xe603;</i><span>个人中心</span></a></li>
			</ul>
		</div> -->
		<!-- footer end -->
		<script src="/weixin/c/common/init.js"></script>
		<script src="/weixin/c/lib/jquery.min.js"></script>
		<script src="/weixin/c/lib/hammer.js"></script>
		<script src="/weixin/c/lib/require.js"></script>
		<script src="/weixin/c/config/main.js"></script>
	</body>
</html>