<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-siteapp"><!-- 百度禁止转码 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta name="apple-mobile-web-app-title" content=""><!-- 添加到主屏后的标题 -->
		<meta content="yes" name="apple-mobile-web-app-capable" /><!-- 是否启用 WebApp 全屏模-->
		<meta content="black" name="apple-mobile-web-app-status-bar-style" /><!-- 设置状态栏的背景颜色 -->
		<meta content="telephone=no,email=no" name="format-detection" /><!-- 禁止数字识自动别为电话号码  -->
		<meta name="theme-color" content="#db5945"><!-- android中用来控制选项卡的颜色 -->
		<meta name="msapplication-TileColor" content="#000"/> <!-- Windows 8 磁贴颜色 -->
		<meta name="msapplication-TileImage" content="icon.png"/> <!-- Windows 8 磁贴图标 -->
		<!-- <link rel="shortcut icon" type="image/ico" href="/favicon.ico" /> -->
		<meta name="google" value="notranslate" /><!-- 关闭chrome浏览器下翻译插件 -->
		<!-- 页面描述 -->
	    <meta name="description" content="不超过150个字符"/>
	    <!-- 页面关键词 -->
	    <meta name="keywords" content=""/>
	    <!-- 网页作者 -->
	    <meta name="author" content="jinxiao, 315232021@163.com"/>
	    <!-- 搜索引擎抓取 -->
	    <meta name="robots" content="index,follow"/>
		<title>象 盟</title>
		<link rel="stylesheet" href="/weixin/dist/css/normalize.css">
		<link rel="stylesheet" href="/weixin/dist/css/footer.css">
		<link rel="stylesheet" href="/weixin/dist/css/headerOrder.css">
		<link rel="stylesheet" href="/weixin/dist/css/payFailure.css">
	</head>
	<body>


		<!-- header -->
		
		<!-- content start-->
		<div class="content">
			<div class="order">
				<div class="c-order all-order ">
					<div class="l-order pay-success hidden">
						<h2><i class="iconfont">&#xe618;</i>支付成功</h2>
					</div>
					<div class="l-order pay-failure">
						<h3><i class="iconfont">&#xe609;</i>付款失败</h3>
						<h4><i class="iconfont">&#xe606;</i>请尽快提交订单，否则商品可能会被抢完。</h4>
						<div class="order-list">
							<p class="overflow"><span class="f-left">订单编号</span><em class="f-right">34732152093185375</em></p>
							<p class="overflow"><span class="f-left">交易时间</span><em class="f-right">2016-09-23 09:04:39</em></p>
							<p class="overflow"><span class="f-left">支付方式</span><em class="f-right">微信支付</em></p>
							<p class="overflow"><span class="f-left">支付金额</span><em class="f-right">￥149</em></p>
						</div>
						<div class="pay-status"><a href="order.html">查看订单</a><a href="/weixin/index.html">回首页</a></div>
						<div class="tip">
							<h3>象盟安全提醒</h3>
							<p>1、下单后通过<em>短信、qq、电话、微信给你发送链接办理退款的都是骗子</em>!</p>
							<p>2、象盟不存在<em>系统升级、订单异常</em>等问题，谨防<em>假冒客服</em>诈骗！</p>
						</div>
					</div>
				</div>
				<!-- <div class="c-order all-order">all</div>
				<div class="c-order wait-pay">pay</div>
				<div class="c-order wait-send">send</div>
				<div class="c-order wait-receive">receive</div>
				<div class="c-order order-success">success</div> -->
			</div>
		</div>
		<!-- content end-->
	
		<script src="/weixin/c/common/init.js"></script>
		<script src="/weixin/c/lib/jquery.min.js"></script>
		<script src="/weixin/c/lib/hammer.js"></script>
		<script src="/weixin/c/lib/require.js"></script>
		<script src="/weixin/c/config/main.js"></script>
	</body>
</html>