<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-siteapp"><!-- 百度禁止转码 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta name="apple-mobile-web-app-title" content=""><!-- 添加到主屏后的标题 -->
		<meta content="yes" name="apple-mobile-web-app-capable" /><!-- 是否启用 WebApp 全屏模-->
		<meta content="black" name="apple-mobile-web-app-status-bar-style" /><!-- 设置状态栏的背景颜色 -->
		<meta content="telephone=no,email=no" name="format-detection" /><!-- 禁止数字识自动别为电话号码  -->
		<meta name="theme-color" content="#db5945"><!-- android中用来控制选项卡的颜色 -->
		<meta name="msapplication-TileColor" content="#000"/> <!-- Windows 8 磁贴颜色 -->
		<meta name="msapplication-TileImage" content="icon.png"/> <!-- Windows 8 磁贴图标 -->
		<!-- <link rel="shortcut icon" type="image/ico" href="/favicon.ico" /> -->
		<meta name="google" value="notranslate" /><!-- 关闭chrome浏览器下翻译插件 -->
		<!-- 页面描述 -->
	    <meta name="description" content="不超过150个字符"/>
	    <!-- 页面关键词 -->
	    <meta name="keywords" content=""/>
	    <!-- 网页作者 -->
	    <meta name="author" content="jinxiao, 315232021@163.com"/>
	    <!-- 搜索引擎抓取 -->
	    <meta name="robots" content="index,follow"/>
		<title>XIANG MENG</title>
		<link rel="stylesheet" href="/weixin/dist/css/normalize.css">
		<link rel="stylesheet" href="/weixin/dist/css/footer.css">
		<link rel="stylesheet" href="/weixin/dist/css/person.css">
	</head>
	<body>

		<!-- content start-->
		<div class="content">
			<div class="top">
				<p class="t-right message"><a href="/weixin/views/person/notice.html"><i class="iconfont">&#xe60a;</i></a></p>
				<p class="t-center"><a href="javascript:void(0);"><img src="/weixin/images/qr.png" alt=""></a></p>
				<p class="t-center">jinxiao</p>
				<div class="info">
					<span>ID:12546544</span><span>累计购物:￥2583.00</span>
				</div>
			</div>
			<div class="p-detail">
				<div class="c-li">
					<strong>成为分享达人</strong>
					<a href="/weixin/views/person/apply.html"><i class="iconfont">&#xe60e;</i></a>
				</div>
				<div class="c-li">
					<strong>我是捕手</strong>
					<a href="/weixin/views/person/qr.html">推广二维码<i class="iconfont">&#xe60e;</i></a>
				</div>
				<div class="detail-info">
					<p><a href="/weixin/views/person/reward.html"><em><i class="iconfont">&#xe60c;</i>奖励</em><span>126.65元</span></a></p>
					<p><a href="/weixin/views/person/fans.html"><em><i class="iconfont">&#xe60b;</i>粉丝</em><span>126人</span></a></p>
					<p><a href="/weixin/views/person/sales.html"><em><i class="iconfont">&#xe60f;</i>销售额</em><span>126778.65元</span></a></p>
				</div>
				<p class="rec">你是由[环球捕手]推荐</p>
			</div>
			<div class="contact">
				<div class="c-li hidden">
					<strong>联系客服</strong>
					<a href="javascript:void(0);"><i class="iconfont">&#xe60e;</i></a>
				</div>
				<div class="c-li">
					<strong>意见与反馈</strong>
					<a href="/weixin/views/person/feedback.html"><i class="iconfont">&#xe60e;</i></a>
				</div>
				<div class="c-li">
					<strong>设置</strong>
					<a href="/weixin/views/person/set.html"><i class="iconfont">&#xe60e;</i></a>
				</div>
			</div>	
		</div>
		
		<!-- content end-->

		<!-- footer start -->
		<div id="footer">
			<ul>
				<li><a href="/weixin/index.html"><i class="iconfont">&#xe600;</i><span>商城首页</span></a></li>
				<li><a href="/weixin/views/category.html"><i class="iconfont">&#xe604;</i><span>分类</span></a></li>
				<li><a href="/weixin/views/cart.html"><i class="iconfont">&#xe601;</i><span>购物车</span></a></li>
				<li><a href="/weixin/views/order.html"><i class="iconfont">&#xe602;</i><span>我的订单</span></a></li>
				<li class="selected"><a href="/weixin/views/person.html"><i class="iconfont">&#xe603;</i><span>个人中心</span></a></li>
			</ul>
		</div>
		<!-- footer end -->
		<script src="/weixin/c/common/init.js"></script>
		<script src="/weixin/c/lib/jquery.min.js"></script>
		<script src="/weixin/c/lib/hammer.js"></script>
		<script src="/weixin/c/lib/require.js"></script>
		<script src="/weixin/c/config/main.js"></script>
		<script>
			(function(){
				var test = {
					init:function(){
						console.log("init");
					}()
				}
			})();
		</script>
	</body>
</html>